<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-9">

  </div>

  <div class="col-md-3">
    <p><b>Name: </b><%= @pickup_adult.name %></p>
    <p><b>Description: </b><%= @pickup_adult.description %></p>
    <p>
      <%= link_to 'Edit', edit_pickup_adult_path(@pickup_adult) %> |
      <%= link_to 'Destroy', @pickup_adult, data: { confirm: 'Are you sure?' }, method: :delete %> |
      <%= link_to 'Back', pickup_adult_path %>
    </p>
  </div>
</div>
